{% extends "base.twig" %}

{% block content %}

	<div id="inner" class="blog" role="main" class="clearfix">

		<h5>{{title}}</h5>

		{% for post in posts %}
			{% include 'partials/tease.twig' %}
		{% endfor %}

	</div>

	{% include 'partials/pagination.twig' %}


{% endblock %}
