{% extends "base.twig" %}

{% block content %}

    <section id="wall" role="main" class="clearfix">
		{% for post in posts %}

		{% set th_padding = post.thumb_pad|join(' ') %}

			{% include 'partials/article-portfolio.twig' %}
			
		{% endfor %}
	</section><!-- #wall -->

{% endblock %}