{% extends "base.twig" %}

{% block content %}

    <section id="home" role="main" class="clearfix">

	    <div class="flexslider">
	        <ul class="slides">
	        	{% for image in post.get_field('full_screen_img') %}
	          		<li class="slide">
	          			<div class="bigbg" style="background-image:url('{{TimberImage(image.id).src}}')"></div>
	          		</li>
	      		{% endfor %}
	        </ul>
	    </div>
		
	</section><!-- #home -->

{% endblock %}
