{% extends "base.twig" %}

{% block content %}

    <section id="home" role="main" class="clearfix">

	    <div class="flexslider">
	        <ul class="slides">
	        	{% for image in post.get_field('full_screen_img') %}
	          		<li class="slide">
	          			<div class="bigbg" style="background-image:url('{{TimberImage(image.id).src}}')"></div>
	          		</li>
	      		{% endfor %}
	        </ul>
	    </div>
		<div id="wording">
			<div class="nk-words letters type">
		        <span class="words-wrapper waiting">
		            <b class="is-visible">light</b>
					<b>balance</b>
					<b>authenticity</b>
					<b>function</b>
					<b>restraint</b>
					<b>beauty</b>
					<b>passion</b>
					<b>old world</b>
					<b>new world</b>
					<b>old new world</b>
					<b>paying homage</b>
					<b>wabi-sabi</b>
					<b>looking forward</b>
					<b>intelligent design</b>
					<b>collaboration</b>
					<b>creative expression</b>
		        </span>
		    </div>
		<div>

	</section><!-- #home -->

{% endblock %}