{% extends "base.twig" %}

{% block content %}
	
	<div id="inner" class="blog" role="main" class="clearfix">

		{% for post in posts %}
			{% include 'partials/tease.twig' %}
		{% endfor %}
	
	{% include 'partials/social-menu.twig' %}  
	
	</div>
 
{% endblock %}