{% extends "base.twig" %}

{% block content %}
    
	<section id="about" class="page-content">	
		
		<div class="article-body">
			{{post.content}}
		</div>
		
		<div class="aboutImg"> 
			<img src="{{TimberImage(post.get_field('about_img')).src}}">
		</div>
		
	</section>

{% endblock %}