.DS_Store
/config.codekit
/.codekit-cache

/content/upgrade
/content/uploads
/content/upgrade
/content/languages
/content/themes/twentyfifteen
/content/themes/NadiaKaufhold/config.codekit
/content/themes/NadiaKaufhold/.codekit-cache
/content/themes/NadiaKaufhold/css/.sass-cache

/local-config.php

/wp

/content/plugins/timber-library
/content/plugins/searchwp
/content/plugins/akismet
/content/plugins/contact-form-7
/content/plugins/.DS_Store

/TeaserSite/config.codekit

/index.php
