$font-stack: "brandon-grotesque",sans-serif;
$text:#232323;
$background:#f8f5f6;
$hover:#AA9483;

$mobile: new-breakpoint(max-width 768px 3);


/* TYPOS
-------------------------------------------------- */
body, html {
  font: 400 16px/1.5em $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack;
  font-style:normal;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

p {
   font-family: $font-stack;
  font-size: 1.2em;
  line-height: 1.2;
}

h1 {
  font-size: em(36);
}
h2 {
  font-size: em(30);
}
h3 {
  font-size: em(24);
}
h4 {
  font-size: em(18);
}
h5 {
  font-size: em(14);
}
h6 {
  font-size: em(12);
}