{% block header %}

        <header id="main" class="navbar" role="navigation">
            <div class="container">
                <div class="brand">
                    <a class="btn-link" href="/" rel="home">
                        <h1>{{bloginfo('name')}}</h1>
                        {% if options.header_logo %}
                          <img class="logo" src="{{TimberImage(options.header_logo).src}}" alt="Nadia Kaufhold">
                        {% endif %}
                    </a>
                </div><!-- logo-->
            </div>
        </header><!-- header-->

{% endblock %}
