{% block header %}
    
        <header id="main-nav" class="navbar" role="navigation">
                
                <div id="logo">
                    <a class="btn-link" href="/" rel="home">
                        <h1>{{bloginfo('name')}}</h1>
                        {% include 'img/nk.svg' %}
                    </a>
                </div><!-- logo-->
                
                <nav id="main-nav-content" role="navigation">
                    <ul id="menu-main-nav" class="nav">
                    {% for item in menu.get_items %}
                        <li class="nav-main-item{{item.current ? ' active'}}{% if cpt_current == item.title %} active{% endif %}">
                            <a href="{{item.get_path}}">{{item.title}}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </nav><!-- nav -->

        </header><!-- header-->

{% endblock %}