
<div id="loader">
	<svg id="preloader" x="0px" y="0px" viewBox="0 0 400 400">
		<g id="polygons">
			<polygon id="fourteen" stroke="#847C79" stroke-width="0.5" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" fill="none" points="132.8,146.1 119.4,191.3 132.8,244.8 "/>
			<polygon id="thirteen" fill="none" stroke="#847C79" stroke-width="0.5" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" points="150.5,244.8 132.8,244.8 151.1,263.6 207.1,250.1 "/>
			<polygon id="twelve" fill="none" stroke="#847C79" stroke-width="0.5" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" points="207.1,250.1 150.5,244.8 150.6,190.2 "/>
			<polygon id="eleven" fill="none" stroke="#847C79" stroke-width="0.5" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" points="151.1,263.6 243.4,263.6 207.1,250.1 "/>
			<polygon id="ten" fill="none" stroke="#847C79" stroke-width="0.5" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" points="207.1,250.1 243.4,263.6 248.4,244.7 216.5,200.8 207.1,211.1 "/>
			<polygon id="nine" fill="none" stroke="#847C79" stroke-width="0.5" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" points="216.5,200.8 248.4,244.7 243.4,263.6 "/>
			<polygon id="eight" fill="none" stroke="#847C79" stroke-width="0.5" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" points="243.4,263.6 269.9,244.7 248.4,244.7 "/>
			<polygon id="seven" fill="none" stroke="#847C79" stroke-width="0.5" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" points="264,148.4 228,188.3 269.9,244.7 278.7,198.4 "/>
			<polygon id="six" fill="none" stroke="#847C79" stroke-width="0.5" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" points="263.9,148.4 244.3,133.2 242.2,148.4 "/>
			<polygon id="five" fill="none" stroke="#847C79" stroke-width="0.5" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" points="207.2,187.4 225.7,147.3 244.3,133.2 242.2,148.4 "/>
			<polygon id="four" fill="none" stroke="#847C79" stroke-width="0.5" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" points="194.3,133.3 207.1,148.4 207.2,187.4 225.7,147.3 244.3,133.2 "/>
			<polygon id="three" fill="none" stroke="#847C79" stroke-width="0.5" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" points="207.1,148.3 194.3,133.3 142.1,133.3 189.3,148.4 "/>
			<polygon id="two" fill="none" stroke="#847C79" stroke-width="0.5" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" points="189.3,148.4 142.1,133.3 189.5,205.2 "/>
			<polygon id="one" fill="none" stroke="#847C79" stroke-width="0.5" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" points="189.5,205.2 142.1,133.3 132.8,146.1 "/>
			<polygon id="NK" fill="#847C79" points="222.9,142.3 310.2,44.7 364.8,44.7 274.8,144.4 379.5,285.4 325.8,285.4 246.2,175.7 222.7,201.4 222.7,298.9 81.3,149.1 81.2,285.8 36.8,285.7 36.8,38.9 178.7,186.6 178,44.7 222.7,44.5 "
			transform="matrix(0.40201052,0,0,0.40201052,117.59426,129.71945)"/>
		</g>
	</svg>

</div>
