
<div id="loader">
	<svg id="preloader" x="0px" y="0px" viewBox="0 0 400 400">
		<g id="polygons">
			<polygon id="fourteen" fill="#b080be" points="132.8,146.1 119.4,191.3 132.8,244.8 "/>
			<polygon id="thirteen" fill="#ab6fb9" points="150.5,244.8 132.8,244.8 151.1,263.6 207.1,250.1 "/>
			<polygon id="twelve" fill="#af70b6" points="207.1,250.1 150.5,244.8 150.6,190.2 "/>
			<polygon id="eleven" fill="#c185c5" points="151.1,263.6 243.4,263.6 207.1,250.1 "/>
			<polygon id="ten" fill="#b97cc0" points="207.1,250.1 243.4,263.6 248.4,244.7 216.5,200.8 207.1,211.1 "/>
			<polygon id="nine" fill="#c094ab" points="216.5,200.8 248.4,244.7 243.4,263.6 "/>
			<polygon id="eight" fill="#c48ca7" points="243.4,263.6 269.9,244.7 248.4,244.7 "/>
			<polygon id="seven" fill="#dabcc4" points="264,148.4 228,188.3 269.9,244.7 278.7,198.4 "/>
			<polygon id="six" fill="#a56e97" points="263.9,148.4 244.3,133.2 242.2,148.4 "/>
			<polygon id="five" fill="#ca8ebd" points="207.2,187.4 225.7,147.3 244.3,133.2 242.2,148.4 "/>
			<polygon id="four" fill="#c092ac" points="194.3,133.3 207.1,148.4 207.2,187.4 225.7,147.3 244.3,133.2 "/>
			<polygon id="three" fill="#dec3ca" points="207.1,148.3 194.3,133.3 142.1,133.3 189.3,148.4 "/>
			<polygon id="two" fill="#a66ab8" points="189.3,148.4 142.1,133.3 189.5,205.2 "/>
			<polygon id="one" fill="#b781a4" points="189.5,205.2 142.1,133.3 132.8,146.1 "/>
		</g>
	</svg>

</div>