
<div id="socials">

	<div class="inner">
		<div class="pull-right">
			<span>x social</span>
		    <div class="links">             
		        <a href="https://www.facebook.com/EatSpaces" target="_blank">facebook</a>
		        <a href="https://instagram.com/nadiakaufhold/" target="_blank">instagram</a>
		        <a href="https://www.pinterest.com/nadiakaufhold/" target="_blank">pinterest</a>
		    </div>
		</div>
	</div>

</div>